/* GLOBAL */
* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

.clear {
  clear: both;
}

h2 {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 16px;
}

.line {
  background-image: url(../images/line.png);
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 16px;
}

/* HEADER */
.header__logoImg {
  float: left;
}

.header__slogan {
  float: right;
  margin-right: 120px;
}

.header__navbar ul {
  list-style: none;
  border-top: 1px solid #e6e8e8;
  border-bottom: 1px solid #e6e8e8;
  text-align: center;
  padding: 15px 0;
}

.header__navbar ul li {
  display: inline;
}

.header__navbar ul a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: border;
  font-size: 1.13vw;
  color: #222f6e;
  padding: 0 0.3em;
}

.header__navbar ul li:hover {
  border-bottom: 2px solid #b31c25;
}

.header__navbar ul .active {
  border-bottom: 2px solid #b31c25;
}

/* CAROUSEL */
.carousel {
  background-image: url(../images/slider_1.png);
  height: 500px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}

/* INTRO */
.intro p {
  text-align: center;
  color: #636363;
  line-height: 25px;
  padding: 0 25px;
}
/* PROGRAMS */

.programs__content {
  margin-top: 30px;
}

.programs__item {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.programs__item img {
  width: 100%;
}

.programs__item h3 {
  color: #b31c25;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0 5px;
}

/* NEWS */
.news__left,
.news__right {
  float: left;
  width: 50%;
}

.news__text {
  position: relative;
}

.news__text img {
  width: 100%;
  display: block;
}

.news__text p {
  width: 100%;
  position: absolute;
  bottom: 8px;
  left: 0;
  color: white;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 10px;
  margin: 0;
}

.news__text hr {
  height: 5px;
  margin: 0;
  background-color: #b31c25;
  margin-top: 3px;
}

.news__left .news__text p {
  font-size: 24px;
}

.new__item--small {
  float: left;
  width: 50%;
  padding: 0 7.5px 10px;
}

/* FOOTER */
.footer {
  background-color: #b31c25;
  color: white;
  padding: 20px 50px;
}

.footer img {
  float: left;
}

.footer p {
  float: right;
  width: 50%;
  word-spacing: 2px;
  text-align: justify;
}
